body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    opacity: 1.0;
    text-align: center;
}

.display-4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Scheherazade', serif;
}

.lead {
    color: #662200;
    font-weight: bold;
    letter-spacing: 2px;
}

.h5 {
    text-transform: uppercase;
    font-family: 'Scheherazade', serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

.randNumMatch {
    border: 2px solid lightgray;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.winsLosses {
    border: 2px solid lightgray;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.crystals {
    border: 2px solid lightgray;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.userScore {
    border: 2px solid lightgray;
    padding: 10px;
    margin: 10px;
    background-color: white;
}


