body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/black_thread.png");
    background-repeat: repeat;
}

.jumbotron {
    opacity: 0.5;
    text-align: center;
}

.display-4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Scheherazade', serif;
}

.lead {
    color: #662200;
    font-weight: bold;
    letter-spacing: 2px;
}

.my-4 {
    background-color: black;
}
.h5 {
    text-transform: uppercase;
    font-family: 'Scheherazade', serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

.container {
    color: lightgray;
    letter-spacing: 2px;
    font-family: 'Scheherazade', serif;
    font-size: 24px;
    text-align: center;
}

.crystals {
    padding: 10px;
    margin: 10px;
}

.crystalImage {
    border: 3px solid gray;
}



